@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Lexend+Deca:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  
  
  box-sizing: border-box;
}

body {
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgb(41, 41, 41);
}

main {
  background-color: rgb(255, 250, 250);
  margin: 100px auto;

  justify-content: center;
  align-items: center;
  width: 70%;
  /* height: 70%; */
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
}

div {
  display: flex;
  margin: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding-left:auto;
  padding-right:auto;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  width: 100%;
  padding: 5%;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  width: 100%;
  padding: 5%;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  width: 100%;
  padding: 5%;
}
img {
  width: 50px;
}

h2 {
  font: 1.5em 'Big Shoulders Display';
  padding: 10px;
}

p {
  font: 0.7em 'Lexend Deca';
  padding-bottom: 50px;
  line-height: 1.6em;
}

button {
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 5px 10px;
  outline: none;
}

.bsedans{
color: hsl(31, 77%, 52%);
}

.bsuv{
  margin-top: 20px;
  color:hsl(184, 100%, 22%);
  
  }

.blux{
  color:hsl(179, 100%, 13%);
  }
  

.grid{
  background-color: red;
  margin-left: 70%;
  
}
a{
  text-decoration: none;
  color: #fff;
}